*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
}

body,
p {
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    justify-content: center;
}

.flex-container {
    display: flex;
}

.item {
    padding: 0.5rem 1rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid hsl(0, 0%, 80%);
    font-size: 1.2rem
}